# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Mac
.DS_Store

# Large ML files
models/semantic_embeddings.pkl
models/tfidf_matrix.pkl
models/tfidf_vectorizer.pkl

# Raw data
data/raw/